.about {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;

  margin-bottom: 80px;
  margin: 20px;
}

.about-subject {
  display: inline-block;
  min-width: 200px;
}

@media only screen and (min-width: 768px) {
  .about {
    flex-direction: row;
    justify-content: space-evenly;
    min-height: calc(100vh - 60px);
  }
  .about > * {
    width: 45%;
    height: 45%;
  }
}
