.contact {
  min-height: calc(100vh - 60px);
}

.contact-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

input,
textarea {
  border: none;
  border-bottom: 1px solid black;
  width: 80vw;
}

@media only screen and (min-width: 768px) {
  .contact-card {
    flex-direction: row;
  }

  .contact-card > * {
    width: 40vw;
  }

  input,
  textarea {
    width: 40vw;
  }
}
