@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}

:root {
  --color-highlight: #d31376;
  --color-shadow: #eaeaea;
  --color-text: #000;
  --color-background: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  color: var(--color-text);
  background-color: var(--color-background);
  transition: all 500ms linear;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2 {
  margin: 0;
}

h3 {
  font-size: 30px;
  text-align: center;
  text-shadow: -5px 10px var(--color-shadow);
}

h5 {
  color: var(--color-highlight);
  font-size: 25px;
  margin-bottom: 10px;
}

h6 {
  font-size: 25px;
  margin: 0;
}

.uppercase {
  text-transform: uppercase;
  font-size: 20px;
}

.intro-text {
  text-align: center;
  padding: 20px;
}

span {
  line-height: 30px;
}

.row {
  display: flex;
}

.pink-text {
  color: var(--color-highlight);
  margin: 0 10px;
}

.grey-text {
  color: grey;
}

.hidden {
  display: none;
}

.logo {
  width: 30px;
  margin: 20px;
}

.flag {
  width: 25px;
  margin: 5px;
}

.opaque {
  opacity: 100%;
}

.fade {
  opacity: 50%;
}

.header-placeholder {
  height: 80px;
  width: 100vw;
}

.icon {
  width: 50px;
}

.center-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-button {
  font-family: "Montserrat";
  background-color: var(--color-text);
  color: var(--color-background);
  padding: 10px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hidden-mobile {
  display: none;
}

@media only screen and (min-width: 768px) {
  .hidden-mobile {
    display: flex;
  }
  .hidden-desktop {
    display: none;
  }
}
