.home {
  display: flex;
  flex-direction: column;
}

.home-title {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.home-title-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}

.home-title-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}

.me {
  opacity: 0;
  width: 100%;
  height: auto;
}

.opaque {
  opacity: 1;
  transition: opacity 5s linear;
}

@media only screen and (min-width: 768px) {
  .home {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 80px;
    height: calc(100vh - 60px);
  }
}
