.home {
  display: flex;
  flex-direction: column;
}

.home-title {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.home-title-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}

.home-title-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}

.me {
  opacity: 0;
  height: auto;
  width: 100%;
}

.logo-dedication {
  font-size: 10px;
  text-align: right;
  margin-right: 5px;
}

.logo-dedication a {
  color: var(--color-text);
}

.opaque-photo {
  opacity: 1;
  transition: opacity 5s linear;
}

@media only screen and (min-width: 768px) {
  .home {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 80px;
    height: calc(100vh - 60px);
  }

  .me {
    width: auto;
    height: 80%;
    margin-right: 100px;
    margin-top: 50px;
  }
}
