.projects {
  min-height: calc(100vh - 60px);
}

.project-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 60px);
  backdrop-filter: blur(5px);
  position: absolute;
  margin-top: 100px;
}

.project-info-card {
  width: 50vw;
  height: 50vh;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.project-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 90vh;
}

.project-image {
  margin: 20px;
}

.claire {
  width: 30%;
}

.faceOuest {
  width: 20%;
}

.seb {
  width: 30%;
}

.core {
  width: 25%;
}
