.skills {
  min-height: calc(100vh - 60px);
  margin-bottom: 80px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills-details {
  margin: 30px;
  width: 80vw;
}

.skills-icon {
  width: 20px;
  margin: 0 10px;
}

.skills-title {
  display: flex;
  justify-content: space-between;
}

.skills-title h6 {
  font-size: 15px;
}

.progress {
  margin-top: 10px;
}

.progress {
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 30px;
  width: 500px;
}

.progress-value {
  box-shadow: 0 10px 40px -10px rgb(61, 61, 61);
  border-radius: 100px;
  background: var(--color-highlight);
  height: 15px;
  width: 0;
}

.progress-value-1 {
  animation: load-1 3s normal forwards;
}

.progress-value-2 {
  animation: load-2 3s normal forwards;
}
.progress-value-3 {
  animation: load-3 3s normal forwards;
}

.progress-value-4 {
  animation: load-4 3s normal forwards;
}

.progress-value-5 {
  animation: load-5 3s normal forwards;
}

.progress-value-6 {
  animation: load-6 3s normal forwards;
}

.progress-value-7 {
  animation: load-7 3s normal forwards;
}

.progress-value-8 {
  animation: load-8 3s normal forwards;
}

@keyframes load-1 {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}

@keyframes load-2 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes load-3 {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
@keyframes load-4 {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}
@keyframes load-5 {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}
@keyframes load-6 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes load-7 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@keyframes load-8 {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .skills-details {
    width: 40vw;
  }
}
