.unicorn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.unicorn > * {
  margin: 0;
}

.unicorn-head {
  width: 80px;
  position: relative;
  top: 28px;
  left: 8px;
  -webkit-transform-origin: bottom left 10px;
  transform-origin: bottom-left 10px;
  -webkit-animation: shaking-head 7s ease-in-out forwards infinite;
  animation: shaking-head 7s ease-in-out forwards infinite;
  float: left;
}

.unicorn-body {
  width: 120px;
}

@-webkit-keyframes shaking-head {
  0% {
    -webkit-transform: rotate(-2.5deg);
  }
  50% {
    -webkit-transform: rotate(2.5deg);
  }
  100% {
    -webkit-transform: rotate(-2.5deg);
  }
}

@keyframes shaking-head {
  0% {
    transform: rotate(-2.5deg);
  }
  50% {
    transform: rotate(2.5deg);
  }
  100% {
    transform: rotate(-2.5deg);
  }
}
